.Inicio{
    font-size:20px;
    font-style:bolt;
    text-align:center;
}
.card{
    background-color:#af8910;
    height:330px;
    width:340px
}
input{
    height:30px;
    width:300px
}
.card-body{
    margin-top:10px
}
.tarjeta{
    margin-left:740px;
    margin-top:40px
}
