.crearCuenta{
    font-size:20px;
    font-style:bolt;
    text-align:center;
}
.card{
    background-color:#af8910;
    height:380px;
    width:340px
}
input{
    height:30px;
    width:300px
}
.card-body{
    margin-top:10px
}
.tarjeta{
    margin-left:730px;
    margin-top:20px
}